<div class="container">
  <h1>Welcome to DELTA RESTAURANT</h1>
  <div class="menu-options">
    <a routerLink="/foods" class="menu-card">
      <img src="assets/images/foods_menu.jpeg" alt="Foods Menu" />
      <div class="menu-overlay">
        <div class="menu-title">Foods Menu</div>
        <div class="menu-description">Explore our delicious dishes</div>
      </div>
    </a>
    <a routerLink="/drinks" class="menu-card">
      <img src="assets/images/drinks_menu.jpeg" alt="Drinks Menu" />
      <div class="menu-overlay">
        <div class="menu-title">Drinks Menu</div>
        <div class="menu-description">Discover our refreshing beverages</div>
      </div>
    </a>
  </div>
</div>
